* {
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    margin: 0;
    display: grid;
    grid-template-columns: 100%;
}
body{
    margin-top: 0px;
    background-image: url("https://lh3.googleusercontent.com/pw/AM-JKLWbxfboZCBU-p4_hpQGM437dtxIttO9t2r-HDFxcv1oHOq6vNATxq70CILBYaRmdbyBA8JkmhlrihlXYD9EIsjesRZfcADDNvx1fCi2m-fJS_hjOwjh6R7XzEaJEcuxg2W1bsNJ1no3m9tC1sI4MiP6kw=w710-h854-no?authuser=0");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center 50%;
    
}

header,
aside,
main{
    padding: 25px; 
    text-align: center;
}
header{
    background: #e19ded;
    grid-template-rows: 60px;
}
aside{
    background: #e35c88;
    grid-template-rows: auto;
}
footer{
    text-align: left;
    padding: 100px;
    background: black;
    grid-template-rows: 60px;
}
.navigation-list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.navigation-item{
    margin: 0 10px;

}
.navigation-item a {
    text-decoration: none;
    color: white;
}
.navigation-item a:hover,
.navigation-item a:active{
    color: #fa923f
}
#hoverforsubmit:hover{
    color: white ; background-color: #e76161;
    transition: all 100ms ease-in-out;
}
form{
    height: auto;
}
table{
    padding: 50px;
}

tr{
    height: 40px;
}
.container{
    width: 100%;
}
.text{
    width: fit-content;
            background: linear-gradient(90deg, #00dade, #fc00ff);
            font-size: 33px;
            text-transform: uppercase;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
    
}